<!DOCTYPE html>
<html lang="en">

<head>

	<!-- Meta Tags -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Reset Password | Mentoring</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content=" Mentoring">
	<meta name="keywords" content=" Mentoring">
	<meta name="author" content="Dreams Technologies">

	<!-- Favicon -->
	<link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">

	<!-- Fontawesome CSS -->
	<link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome.min.css">
	<link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css">

	<!-- Lucide Icon CSS -->
	<link rel="stylesheet" href="assets/plugins/lucide/lucide.css">

	<!-- Simplebar CSS -->
	<link rel="stylesheet" href="assets/plugins/simplebar/simplebar.min.css">

	<!-- Main CSS -->
	<link rel="stylesheet" href="assets/css/style.css">

</head>

<body>

	<!-- Main Wrapper -->
	<div class="main-wrapper">

		<!-- Start Content -->
		<div class="container-fluid p-md-0">
			<div class="auth-wrapper">

				<!-- start row -->
				<div class="row">

					<!-- start col -->
					<div class="col-lg-7">
						<div class="auth-wrapper-left d-flex justify-content-center align-items-center">
							<div class="content-box mx-auto">
								<h1>“Growth starts when guidance meets passion.”</h1>
								<div class="auth-avatar">
									<div class="avatar-list-stacked avatar-group-lg">
										<span class="avatar border-0">
											<img src="assets/img/auth/avatar/avatar-1.png" alt="img">
										</span>
										<span class="avatar border-0">
											<img src="assets/img/auth/avatar/avatar-2.png" alt="img">
										</span>

										<span class="avatar border-0">
											<img src="assets/img/auth/avatar/avatar-4.png" alt="img">
										</span>
										<span class="avatar border-0">
											<img src="assets/img/auth/avatar/avatar-3.png" alt="img">
										</span>
										<span class="avatar border-0">
											<img src="assets/img/auth/avatar/avatar-5.png" alt="img">
										</span>
									</div>
									<div class="vertical-divider"></div>
									<div>
										<p>Trusted by <br> <span>1,200+</span> Learners </p>
									</div>
								</div>
							</div>
							<div class="auth-user-card">
								<div class="auth-user-card-item left">
									<img src="assets/img/auth/avatar/user-1.png" alt="Sarah">
									<h2 class="auth-user-card-title">Sarah Thompson</h2>
									<p>Founder & Lead Mentor</p>
								</div>

								<div class="auth-user-card-item active">
									<img src="assets/img/auth/avatar/user-2.png" alt="Daniel">
									<h2 class="auth-user-card-title">Daniel Reed</h2>
									<p>Program Director</p>
								</div>

								<div class="auth-user-card-item right">
									<img src="assets/img/auth/avatar/user-3.png" alt="Maya">
									<h2 class="auth-user-card-title">Maya Patel</h2>
									<p>Community Manager</p>
								</div>
							</div>

						</div>
					</div>
					<!-- end col -->

					<!-- start col -->
					<div class="col-lg-5">
						<div class="auth-wrapper-right d-flex justify-content-center align-items-center ">
							<div class="auth-logo">
								<a href="index.html.htm"><img src="assets/img/logo.svg" alt=""></a>
							</div>
							<form action="login.html" class="auth-form">
								<div class="form-header text-center">
									<h2>Reset Password</h2>
									<p>Securely create a new password to regain account</p>
								</div>
								<div class="auth-form-input">
									<div class="mb-2">
										<label class="form-label">Password
											<span class="text-danger ms-1">*</span>
										</label>
										<div class="input-group input-group-flat pass-group">
											<input type="password" class="form-control pass-input" placeholder="**********">
											<span class="input-group-text toggle-password">
												<i class=" icon-eye-off"></i>
											</span>
										</div>
									</div>
									<div class="mb-4">
										<label class="form-label">Confirm Password
											<span class="text-danger ms-1">*</span>
										</label>
										<div class="input-group input-group-flat pass-group">
											<input type="password" class="form-control pass-input" placeholder="**********">
											<span class="input-group-text toggle-password">
												<i class=" icon-eye-off"></i>
											</span>
										</div>
									</div>
									<div class="mb-4">
										<button type="submit" class="primary-btn w-100 justify-content-center">Change
											Password</button>
									</div>

								</div>
							</form>
						</div>
					</div>
					<!-- end col -->

				</div>
				<!-- end row -->

			</div>
		</div>
		<!-- End Content -->


	</div>
	<!-- /Main Wrapper -->

	<!-- jQuery -->
	<script src="assets/js/jquery-3.7.1.min.js"></script>

	<!-- Bootstrap Core JS -->
	<script src="assets/js/bootstrap.bundle.min.js"></script>

	<!-- Custom JS -->
	<script src="assets/js/script.js"></script>

</body>

</html>