<!DOCTYPE html>
<html lang="en">

<head>

	<!-- Meta Tags -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title> Settings | Mentoring</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Mentoring is a Bootstrap-based template for hair salons, beauty spas, and wellness centers. Includes an admin dashboard for managing appointments, staff, services, and clients.">
	<meta name="keywords" content="salon template, hair salon, beauty spa, wellness center, appointment booking, salon admin dashboard, Bootstrap template, Mentoring">
	<meta name="author" content="Dreams Technologies">

	<!-- Favicon -->
	<link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="assets/css/bootstrap.min.css">

		<!-- Theme Settings Js -->
		<script src="assets/js/theme-script.js"></script>

	<!-- Fontawesome CSS -->
	<link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css">

	<!-- Datetimepicker CSS -->
	<link rel="stylesheet" href="assets/css/bootstrap-datetimepicker.min.css">

	<!-- Select2 CSS -->
	<link rel="stylesheet" href="assets/plugins/select2/css/select2.min.css">

	<!-- Datatable CSS -->
	<link rel="stylesheet" href="assets/css/dataTables.bootstrap5.min.css">

	<!-- Lucide Icon CSS -->
	<link rel="stylesheet" href="assets/plugins/lucide/lucide.css">

	<!-- Simplebar CSS -->
	<link rel="stylesheet" href="assets/plugins/simplebar/simplebar.min.css">

	<!-- Main CSS -->
	<link rel="stylesheet" href="assets/css/style.css">

</head>

<body>

	<!-- Main Wrapper -->
	<div class="main-wrapper">

        <!-- Header Start -->
		<header class="header commen-header">
			<div class="container">
				<nav class="navbar navbar-expand-lg header-nav" aria-label="header navigation">
					<div class="navbar-header">
						<a href="index.html.htm" class="navbar-brand logo">
							<img src="assets/img/logo.svg" class="img-fluid" alt="Logo">
						</a>
						<a href="index.html.htm" class="navbar-brand logo-white">
							<img src="assets/img/logo-white.svg" class="img-fluid" alt="Logo-white">
						</a>
						<div id="mobile_btn">
							<i class="icon-menu"></i>
						</div>
					</div>
					<div class="menu-wrapper">
						<div class="main-menu-wrapper">
							<div class="menu-header">
								<a href="index.html.htm" class="menu-logo">
									<img src="assets/img/logo.svg" class="img-fluid logo" alt="Logo">
									<img src="assets/img/logo-white.svg" class="img-fluid logo-white" alt="Logo-white">
								</a>
								<div class="d-flex align-items-center gap-2">
									<button class="topbar-link light-dark-mode" aria-label="Toggle light and dark mode">
										<i class="icon-sun"></i>
									</button>
									<div id="menu_close" class="menu-close">
										<i class="icon-x"></i>
									</div>
								</div>				
								
							</div>
							<ul class="main-nav">
								<li class="has-submenu megamenu">
									<a href="#">Home <span class="down-arrow"><i class="icon-chevron-down"></i></span> </a>
									<ul class="submenu mega-submenu">
										<li>
											<div class="megamenu-wrapper home-menu-wrapper">
												<div class="row">
													<div class="col-lg-3">
														<div class="single-demo">
															<div class="demo-img">
																<a href="index.html.htm" class="inner-demo-img"><img src="assets/img/menu/home-img-1.png" class="img-fluid" alt="home-1"></a>
															</div>
															<div class="demo-info">
																<a href="index.html.htm" class="inner-demo-img">Homepage 1</a>
															</div>
														</div>
													</div>
													<div class="col-lg-3">
														<div class="single-demo">
															<div class="demo-img">
																<a href="index-2.html.htm" class="inner-demo-img"><img src="assets/img/menu/home-img-2.png" class="img-fluid" alt="home-2"></a>
															</div>
															<div class="demo-info">
																<a href="index-2.html.htm" class="inner-demo-img">Homepage 2</a>
															</div>
														</div>
													</div>
													<div class="col-lg-3">
														<div class="single-demo">
															<div class="demo-img">
																<a href="index-3.html.htm" class="inner-demo-img"><img src="assets/img/menu/home-img-3.png" class="img-fluid" alt="home-3"></a>
															</div>
															<div class="demo-info">
																<a href="index-3.html.htm" class="inner-demo-img">Homepage 3</a>
															</div>
														</div>
													</div>
													<div class="col-lg-3">
														<div class="single-demo">
															<div class="demo-img">
																<a href="index-4.html.htm" class="inner-demo-img"><img src="assets/img/menu/home-img-4.png" class="img-fluid" alt="home-4"></a>
															</div>
															<div class="demo-info">
																<a href="index-4.html.htm" class="inner-demo-img">Homepage 4</a>
															</div>
														</div>
													</div>
												</div>
												<img src="assets/img/menu/shadow-1.png" alt="shadow" class="img-fluid shadow-light">
											</div>
										</li>
									</ul>
								</li>
								<li class="has-submenu mega-innermenu active">
									<a href="#">Mentor <span class="down-arrow"><i class="icon-chevron-down"></i></span></a>
									<ul class="submenu mega-submenu">
										<li>
											<div class="megamenu-wrapper">
												<div class="row">
													<div class="col-lg-5">
														<ul>
															<li><a href="dashboard.html.htm">Mentor Dashboard</a></li>
															<li><a href="bookings.html.htm">Bookings</a></li>
															<li><a href="scheduled-timings.html.htm">Schedule Timing</a></li>
															<li><a href="mentees.html.htm">Mentee List</a></li>
															<li><a href="blogs.html.htm">Blog</a></li>
															<li><a href="messages.html.htm">Chat</a></li>
															<li><a href="invoices.html.htm">Invoices</a></li>
															<li class="active"><a href="settings.html.htm">Profile Settings </a></li>
															<li><a href="reviews.html.htm">Reviews</a></li>
															<li><a href="mentor-register.html.htm">Register</a></li>
														</ul>
													</div>
													<div class="col-lg-7">
														<div class="menu-img">
															<img src="assets/img/menu/header-img-1.png" alt="listing" class="img-fluid header-menu-img">
														</div>
													</div>
												</div>
												<img src="assets/img/menu/shadow-1.png" alt="shadow" class="img-fluid shadow-light">
												<img src="assets/img/menu/shadow-2.png" alt="shadow" class="img-fluid shadow-light-1">
											</div>
										</li>
									</ul>
								</li>
								<li class="has-submenu mega-innermenu">
									<a href="#">Mentee <span class="down-arrow"><i class="icon-chevron-down"></i></span></a>
									<ul class="submenu mega-submenu">
										<li>
											<div class="megamenu-wrapper">
												<div class="row">
													<div class="col-lg-5">
														<ul>
															<li><a href="mentee-dashboard.html.htm">Mentee Dashboard</a></li>
															<li><a href="mentors-grid-map-view.html.htm">Mentors Map View</a></li>
															<li><a href="mentors-grid.html.htm">Search Mentors</a></li>
															<li><a href="mentee-bookings.html.htm">Bookings</a></li>
															<li><a href="booking-success.html.htm">Booking Success</a></li>
															<li><a href="checkout.html.htm">Checkout</a></li>
															<li><a href="mentee-favourites.html.htm">Favourites</a></li>
															<li><a href="mentee-messages.html.htm">Chat</a></li>
															<li><a href="mentee-settings.html.htm">Profile Settings</a></li>
															<li><a href="mentee-register.html.htm">Register</a></li>
														</ul>
													</div>
													<div class="col-lg-7">
														<div class="menu-img">
															<img src="assets/img/menu/header-img-2.png" alt="listing" class="img-fluid header-menu-img">
														</div>
													</div>
												</div>
												<img src="assets/img/menu/shadow-1.png" alt="shadow" class="img-fluid shadow-light">
												<img src="assets/img/menu/shadow-2.png" alt="shadow" class="img-fluid shadow-light-1">
											</div>
										</li>
									</ul>
								</li>
								<li class="has-submenu mega-innermenu">
									<a href="#">Pages <span class="down-arrow"><i class="icon-chevron-down"></i></span></a>
									<ul class="submenu mega-submenu pages-submenu">
										<li>
											<div class="megamenu-wrapper">
												<ul>
													<li> <a href="about-us.html.htm">About Us</a></li>
													<li> <a href="audio-call.html.htm">Voice Call</a></li>
													<li> <a href="video-call.html.htm">Video Call</a></li>
													<li> <a href="faq.html.htm">Faq</a></li>
													<li> <a href="contact.html.htm">Contact Us</a></li>
													<li> <a href="login.html.htm">Login</a></li>
													<li> <a href="register.html.htm">Register</a></li>
													<li> <a href="forgot-password.html.htm">Forgot Password</a></li>
													<li> <a href="reset-password.html.htm">Reset Password</a></li>
												</ul>
												<img src="assets/img/menu/shadow-1.png" alt="shadow" class="img-fluid shadow-light">
												<img src="assets/img/menu/shadow-2.png" alt="shadow" class="img-fluid shadow-light-1">
											</div>
										</li>
									</ul>
								</li>
								<li class="has-submenu mega-innermenu">
									<a href="#">Blogs <span class="down-arrow"><i class="icon-chevron-down"></i></span></a>
									<ul class="submenu mega-submenu pages-submenu blogs-submenu">
										<li>
											<div class="megamenu-wrapper">
												<ul>
													<li> <a href="blog-grid.html.htm">Blog Grid</a></li>
													<li> <a href="blog-grid-left-sidebar.html.htm">Blog Grid with Left Sidebar</a></li>
													<li> <a href="blog-grid-right-sidebar.html.htm">Blog Grid with Right Sidebar</a></li>
													<li> <a href="blog-list.html.htm">Blog List</a></li>
													<li> <a href="blog-list-left-sidebar.html.htm">Blog List with Left Sidebar</a></li>
													<li> <a href="blog-list-right-sidebar.html.htm">Blog List with Right Sidebar</a></li>
													<li> <a href="blog-details.html.htm">Blog Detail</a></li>
													<li> <a href="blog-details-left-sidebar.html.htm">Blog Detail with Left Sidebar</a></li>
													<li> <a href="blog-details-right-sidebar.html.htm">Blog Detail with Right Sidebar</a></li>
												</ul>
												<img src="assets/img/menu/shadow-1.png" alt="shadow" class="img-fluid shadow-light">
												<img src="assets/img/menu/shadow-2.png" alt="shadow" class="img-fluid shadow-light-1">
											</div>
										</li>
									</ul>
								</li>
								<li class="has-submenu mega-innermenu">
									<a href="admin/index.html.htm">Admin</a>
								</li>
							</ul>
							<div class="menu-bottom">
								<div class="folllow-us">
									<p class="title">Follow Us</p>
									<div class="social-icon">
										<a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
										<a href="#" class="icon"><i class="fa-brands fa-x-twitter"></i></a>
										<a href="#" class="icon"><i class="fa-brands fa-instagram"></i></a>
										<a href="#" class="icon"><i class="fa-brands fa-youtube"></i></a>
									</div>
								</div>
								<div class="menu-login">
									<a href="register.html.htm" class="primary-btn w-100 d-flex align-items-center gap-2"><i class="icon-lock me-1"></i>Sign Up</a>
									<a href="login.html.htm" class="secondary-btn w-100 d-flex align-items-center gap-2 text-dark"><i class="icon-log-in me-1"></i>Sign in</a>
								</div>
							</div>
						</div>
					</div>
					<div class="nav header-items">
						<button class="topbar-link light-dark-mode" aria-label="Toggle light and dark mode">
							<i class="icon-sun"></i>
						</button>

						<button class="topbar-link online" data-bs-toggle="dropdown" data-bs-offset="0,24" type="button" aria-haspopup="false" aria-expanded="false">
							<i class="icon-bell"></i>
						</button>
						
						<div class="dropdown-menu p-0 dropdown-menu-end dropdown-menu-lg notification-dropdown">
						
							<div class="p-2 border-bottom">
								<div class="row align-items-center">
									<div class="col">
										<h6 class="m-0 fs-16 fw-semibold"> Notifications</h6>
									</div>
								</div>
							</div>
							<!-- Notification Body -->
							<div class="notification-body position-relative z-2 rounded-0" data-simplebar="">
								<!-- Item-->
								<div class="dropdown-item notification-item py-3 text-wrap border-bottom" id="notification-1">
									<div class="d-flex">
										<div class="me-2 position-relative flex-shrink-0">
											<img src="assets/img/avatars/avatar-10.jpg" class="avatar-md rounded-circle" alt="user">
										</div>
										<div class="flex-grow-1">
											<p class="mb-0 fw-medium text-dark">John Doe</p>
											<p class="mb-1 text-wrap">
												scheduled a new <span class="fw-medium text-dark">mentoring session.</span> 
											</p>
											<div class="d-flex justify-content-between align-items-center">
												<span class="fs-12"><i class="ti ti-clock me-1"></i>4 min ago</span>
												<div class="notification-action d-flex align-items-center float-end gap-2">
													<a href="javascript:void(0);" class="notification-read rounded-circle bg-danger" data-bs-toggle="tooltip" title="" data-bs-original-title="Make as Read" aria-label="Make as Read"></a>
													<button class="btn rounded-circle p-0" data-dismissible="#notification-1">
														<i class="ti ti-x"></i>
													</button>
												</div>
											</div>
										</div>
									</div>
								</div>
						
								<!-- Item-->
								<div class="dropdown-item notification-item py-3 text-wrap border-bottom" id="notification-2">
									<div class="d-flex">
										<div class="me-2 position-relative flex-shrink-0">
											<img src="assets/img/avatars/avatar-11.jpg" class="avatar-md rounded-circle" alt="user">
										</div>
										<div class="flex-grow-1">
											<p class="mb-0 fw-medium text-dark">Thomas William</p>
											<p class="mb-1 text-wrap">
												booked a new mentoring session.
											</p>
											<div class="d-flex justify-content-between align-items-center">
												<span class="fs-12"><i class="ti ti-clock me-1"></i>8 min ago</span>
												<div class="notification-action d-flex align-items-center float-end gap-2">
													<a href="javascript:void(0);" class="notification-read rounded-circle bg-danger" data-bs-toggle="tooltip" title="" data-bs-original-title="Make as Read" aria-label="Make as Read"></a>
													<button class="btn rounded-circle p-0" data-dismissible="#notification-2">
														<i class="ti ti-x"></i>
													</button>
												</div>
											</div>
										</div>
									</div>
								</div>
								
								<!-- Item-->
								<div class="dropdown-item notification-item py-3 text-wrap border-bottom" id="notification-3">
									<div class="d-flex">
										<div class="me-2 position-relative flex-shrink-0">
											<img src="assets/img/avatars/avatar-12.jpg" class="avatar-md rounded-circle" alt="user">
										</div>
										<div class="flex-grow-1">
											<p class="mb-0 fw-medium text-dark">Sarah Anderson</p>
											<p class="mb-1 text-wrap">
												has been successfully booked session on <span class="fw-medium text-dark">April 5 at 10:00 AM.</span>
											</p>
											<div class="d-flex justify-content-between align-items-center">
												<span class="fs-12"><i class="ti ti-clock me-1"></i>15 min ago</span>
												<div class="notification-action d-flex align-items-center float-end gap-2">
													<a href="javascript:void(0);" class="notification-read rounded-circle bg-danger" data-bs-toggle="tooltip" title="" data-bs-original-title="Make as Read" aria-label="Make as Read"></a>
													<button class="btn rounded-circle p-0" data-dismissible="#notification-3">
														<i class="ti ti-x"></i>
													</button>
												</div>
											</div>
										</div>
									</div>
								</div>
								
								<!-- Item-->
								<div class="dropdown-item notification-item py-3 text-wrap" id="notification-4">
									<div class="d-flex">
										<div class="me-2 position-relative flex-shrink-0">
											<img src="assets/img/avatars/avatar-08.jpg" class="avatar-md rounded-circle" alt="user">
										</div>
										<div class="flex-grow-1">
											<p class="mb-0 fw-medium text-dark">Ann McClure</p>
											<p class="mb-1 text-wrap">
												cancelled her mentoring session scheduled for  <span class="fw-medium text-dark">April 6 at 2:30 PM.</span>
											</p>
											<div class="d-flex justify-content-between align-items-center">
												<span class="fs-12"><i class="ti ti-clock me-1"></i>20 min ago</span>
												<div class="notification-action d-flex align-items-center float-end gap-2">
													<a href="javascript:void(0);" class="notification-read rounded-circle bg-danger" data-bs-toggle="tooltip" title="" data-bs-original-title="Make as Read" aria-label="Make as Read"></a>
													<button class="btn rounded-circle p-0" data-dismissible="#notification-4">
														<i class="ti ti-x"></i>
													</button>
												</div>
											</div>
										</div>
									</div>
								</div>
									
							</div>
							<!-- View All-->
							<div class="p-2 rounded-bottom border-top text-center">
								<a href="notifications.html.htm" class="text-center text-decoration-underline fs-14 mb-0">
									View All Notifications
								</a>
							</div>
						</div>

						<div class="dropdown profile-dropdown d-flex align-items-center justify-content-center">
							<a class="dropdown-toggle drop-arrow-none" href="#" data-bs-toggle="dropdown" data-bs-offset="0,22" aria-haspopup="false" aria-expanded="false">
								<img src="assets/img/avatars/avatar-05.jpg" alt="avatar" class="img-fluid rounded-circle">
							</a>
							<div class="dropdown-menu dropdown-menu-end dropdown-menu-lg shadow-none p-3 ">
								<div class="d-flex align-items-center justify-content-between bg-light rounded mb-3 p-3">
									<div class="d-flex align-items-center">
										<img src="assets/img/avatars/avatar-05.jpg" class="rounded-circle" width="42" height="42" alt="">
										<div class="ms-2">
											<h5 class="mb-1 fs-14">Shaun Farley</h5>
											<span class="d-block fs-13">Manager</span>
										</div>
									</div>
									<span class="badge badg-sm bg-danger d-flex align-items-center gap-2"> <i class="icon-bolt"></i>  Pro</span>
								</div>
	
								<!-- Item-->
								<a href="dashboard.html.htm" class="dropdown-item">
									<i class="ti ti-user me-1 fs-17 align-middle"></i>
									<span class="align-middle">Dashboard</span>
								</a>
	
								<!-- Item-->
								<a href="settings.html.htm" class="dropdown-item">
									<i class="ti ti-settings-2 me-1 fs-17 align-middle"></i>
									<span class="align-middle">Settings</span>
								</a>
								<div class="mt-2 pt-2 border-top">
									<a href="login.html.htm" class="dropdown-item">
										<i class="ti ti-logout me-1 fs-17 align-middle text-danger"></i>
										<span class="align-middle text-danger">Sign Out</span>
									</a>
								</div>
								
							</div>
						</div>

					</div>
				</nav>
			</div>
		</header>
		<!-- Header End -->

		<!-- Page Wraper  -->
		<div class="page-wrapper">

			<!-- Breadcrumb -->
			<div class="breadcrumb-bar">
				<div class="container">
					<h1 class="breadcrumb-title">Settings</h1>
					<nav aria-label="breadcrumb" class="page-breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-items"><a href="index.html.htm" class="icon"><i class="icon-house"></i></a></li>
							<li class="breadcrumb-items active" aria-current="page">Mentor</li>
							<li class="breadcrumb-items active" aria-current="page">Settings</li>
						</ol>
					</nav>
				</div>
				<img src="assets/img/bg/breadcrumb-wave.png" alt="wave" class="img-fluid img-1">
			</div>
			<!-- /Breadcrumb -->

			<div class="content">
				<div class="container">

					<!-- stat row -->
					<div class="row row-gap-4">
						<div class="col-xl-3 col-lg-4">
							<div class="sidebar-wrapper">
								<div class="sidebar-user">
									<div class="user">
										<img src="assets/img/avatars/avatar-02.jpg" alt="avatar" class="img-fluid img-1">
										<div class="circle">
											<span class="cap start"></span>
											<span class="cap end"></span>
										</div>
									</div>
									<div class="user-content">
										<div class="username">Charles Paterson</div>
										<p class="year">Member Since 2015</p>
									</div>
									<div class="user-notification">
										<a href="notifications.html.htm" class="noti-btn"><i class="icon-bell"></i></a>
										<a href="settings.html.htm" class="noti-btn"><i class="icon-settings"></i></a>
									</div>
								</div>
								<div class="sidebar-menus">
									<!-- Main -->
									<div class="menu-title">Main</div>
									<ul class="main-menu">
										<li class="submenu">
											<a href="dashboard.html.htm" class="menu-link">
												<span class="menu-icon"><i class="icon-layout-dashboard"></i></span>
												Dashboard
											</a>
										</li>
										<li class="submenu">
											<a href="mentees.html.htm" class="menu-link">
												<span class="menu-icon"><i class="icon-users-round"></i></span>
												Mentees
											</a>
										</li>
									</ul>

									<!-- Appointments -->
									<div class="menu-title">Appointments</div>
									<ul class="main-menu">
										<li class="submenu">
											<a href="bookings.html.htm" class="menu-link">
												<span class="menu-icon"><i class="icon-calendar-days"></i></span>
												Bookings
											</a>
										</li>
										<li class="submenu">
											<a href="scheduled-timings.html.htm" class="menu-link">
												<span class="menu-icon"><i class="icon-calendar-clock"></i></span>
												Scheduled Timings
											</a>
										</li>
									</ul>

									<!-- Activity -->
									<div class="menu-title">Activity</div>
									<ul class="main-menu">
										<li class="submenu">
											<a href="messages.html.htm" class="menu-link">
												<span class="menu-icon"><i class="icon-message-circle"></i></span>
												Messages
											</a>
											<span class="msgs">03</span>
										</li>
										<li class="submenu">
											<a href="invoices.html.htm" class="menu-link">
												<span class="menu-icon"><i class="icon-file-spreadsheet"></i></span>
												Invoices
											</a>
										</li>
										<li class="submenu">
											<a href="reviews.html.htm" class="menu-link">
												<span class="menu-icon"><i class="icon-star"></i></span>
												Reviews
											</a>
										</li>
										<li class="submenu">
											<a href="blogs.html.htm" class="menu-link"> 
													<span class="menu-icon"><i class="icon-layout-panel-left"></i></span>  
													Blogs
												</a>
										</li>
									</ul>

									<!-- Account -->
									<div class="menu-title">Account</div>
									<ul class="main-menu">
										<li class="submenu active">
											<a href="settings.html.htm" class="menu-link">
												<span class="menu-icon"><i class="icon-settings"></i></span>
												Settings
											</a>
										</li>
										<li class="submenu">
											<a href="login.html.htm" class="menu-link">
												<span class="menu-icon"><i class="icon-log-out"></i></span>
												Logout
											</a>
										</li>
									</ul>

								</div>
							</div>
						</div>
						<div class="col-lg-9">
							<div class="dashboard-header">
								<h2 class="sub-title"> Settings </h2>
							</div>

							<!-- Schedule Nav -->
							<div>
								<ul class="nav nav-tabs nav-tab-solid nav-solid-primary">
									<li class="nav-item">
										<a class="nav-link active d-flex align-items-center" data-bs-toggle="tab" href="#slot_monday">Profile</a>
									</li>
									<li class="nav-item">
										<a class="nav-link d-flex align-items-center" data-bs-toggle="tab" href="#slot_tuesday">Change Password</a>
									</li>
									<li class="nav-item">
										<a class="nav-link d-flex align-items-center" data-bs-toggle="tab" href="#slot_wednesday">Preferences</a>
									</li>
									<li class="nav-item">
										<a class="nav-link d-flex align-items-center" data-bs-toggle="tab" href="#slot_thursday">Delete Account</a>
									</li>
								</ul>
							</div>


							<!-- Schedule Content -->
							<div class="tab-content schedule-cont">

								<!-- Monday Slot -->
								<div id="slot_monday" class="tab-pane fade show active">
									<div class="settings-card">
										<div class="tab-card-header">
											<h4 class="mb-4">Basic Information</h4>
											<h4 class="card-title mb-3">
												Profile Image
											</h4>
											<div class="d-flex align-items-center gap-4 mb-3">
												<img src="assets/img/user/user3.jpg" alt="User" class="avatar avatar-xxl rounded-circle">
												<div class="d-flex flex-column gap-2 flex-wrap">
													<div class="d-flex align-items-center gap-2 flex-wrap">
														<a href="#" class="dark-btn btn-small">
															<i class="icon-pencil-line me-2"></i> Edit </a>
														<a href="#" class="danger-btn btn-small">
															<i class="icon-trash-2 me-2"></i> Remove</a>
													</div>
													<p>Recommended size is 300px x 300px</p>
												</div>
											</div>

											<div class="row g-4 ">
												<div class="col-lg-6 col-md-6">
													<div class="form-group">
														<label class="form-label">
															First Name
														</label>
														<input type="text" class="form-control" id="name" name="name" autocomplete="email">
													</div>
												</div>

												<div class="col-lg-6 col-md-6">
													<div class="form-group">
														<label class="form-label">
															Last Name
														</label>
														<input type="text" class="form-control" id="lastname" name="lastname" autocomplete="tel">
													</div>
												</div>

												<div class="col-lg-6 col-md-6">
													<div class="form-group">
														<label class="form-label">
															Email
														</label>

														<input type="text" class="form-control" id="email" name="email" autocomplete="email">
													</div>
												</div>

												<div class="col-lg-6 col-md-6">
													<div class="form-group">
														<label class="form-label">
															Phone Number
														</label>
														<input type="tel" class="form-control" id="phone" name="phone" autocomplete="tel">
													</div>
												</div>

											</div>
										</div>

										<div class="tab-card-header">
											<h4 class="mb-4">Address Information</h4> 

											<div class="row g-4">
												<div class="col-lg-6 col-md-6">
													<div class="form-group">
														<label class="form-label">
															Address Line 1
														</label>
														<input type="text" class="form-control" id="name" name="name" autocomplete="email">
													</div>
												</div>

												<div class="col-lg-6 col-md-6">
													<div class="form-group">
														<label class="form-label">
															Address Line 2
														</label>
														<input type="text" class="form-control" id="lastname" name="lastname" autocomplete="tel">
													</div>
												</div>

												<div class="col-lg-6 col-md-6">
													<div class="form-group">
														<label for="country" class="form-label">Country</label>
														<select class="select" id="country" name="country" autocomplete="country-name">
															<option disabled="" selected="">Select Country</option>
															<option>United States</option>
															<option>Canada</option>
															<option>Germany</option>
															<option>France</option>
														</select>
													</div>
												</div>

												<div class="col-lg-6 col-md-6">
													<div class="form-group">
														<label for="state" class="form-label">State</label>
														<select class="select" id="state" name="state" autocomplete="state-name">
															<option disabled="" selected="">Select State</option>
															<option>California</option>
															<option>New York</option>
															<option>Texas</option>
															<option>Florida</option>
														</select>
													</div>
												</div>
 

												<div class="col-lg-6 col-md-6">
													<div class="form-group">
														<label for="city-list" class="form-label">City</label>
														<select class="select" id="city-list" name="city-list" autocomplete="city-name">
															<option disabled="" selected="">Select City</option>
															<option>Los Angeles</option>
															<option>San Diego</option>
															<option>Fresno</option>
															<option>San Francisco</option>
														</select>
													</div>
												</div>

												<div class="col-lg-6 col-md-6">
													<div class="form-group">
														<label for="postalCode" class="form-label">Postal
															Code</label>
														<input type="text" class="form-control" id="postalCode" name="postal_code" autocomplete="postal-code">
													</div>
												</div>

											</div>
										</div>

										<div class="submit-section d-flex gap-2 justify-content-end">
											<button type="submit" class="light-btn btn-medium">Cancel</button>
											<button type="submit" class="primary-btn btn-medium">Save Changes</button>
										</div>
									</div>
								</div>
								<!-- /Monday Slot -->

								<!-- Tuesday Slot -->
								<div id="slot_tuesday" class="tab-pane fade ">
									<div class="settings-card">
										<div class="tab-card-header">
											<h4 class="mb-4">Change Password</h4>
											<div class="row g-4 ">
												<div class="col-lg-4 col-md-4">
													<div class="form-group">
														<label class="form-label">Current Password </label>
														<div class="input-group input-group-flat pass-group">
															<span class="input-group-text">
																<i class="icon-lock-keyhole"></i>
															</span>
															<input type="password" class="form-control pass-input" placeholder="**********">
															<span class="input-group-text toggle-password">
																<i class=" icon-eye-off"></i>
															</span>
														</div>
													</div>
												</div>
												<div class="col-lg-4 col-md-4">
													<div class="form-group">
														<label class="form-label">New Password </label>
														<div class="input-group input-group-flat pass-group">
															<span class="input-group-text">
																<i class="icon-lock-keyhole"></i>
															</span>
															<input type="password" class="form-control pass-input" placeholder="**********">
															<span class="input-group-text toggle-password">
																<i class=" icon-eye-off"></i>
															</span>
														</div>
													</div>
												</div>
												<div class="col-lg-4 col-md-4">
													<div class="form-group">
														<label class="form-label">Confirm Password </label>
														<div class="input-group input-group-flat pass-group">
															<span class="input-group-text">
																<i class="icon-lock-keyhole"></i>
															</span>
															<input type="password" class="form-control pass-input" placeholder="**********">
															<span class="input-group-text toggle-password">
																<i class=" icon-eye-off"></i>
															</span>
														</div>
													</div>
												</div>

											</div>
										</div>

										<div class="submit-section d-flex gap-2 justify-content-end">
											<button type="submit" class="light-btn btn-medium">Cancel</button>
											<button type="submit" class="primary-btn btn-medium">Save Changes</button>
										</div>
									</div>
								</div>
								<!-- /Tuesday Slot -->

								<!-- Wednesday Slot -->
								<div id="slot_wednesday" class="tab-pane fade">
									<div class="settings-card">
										<h4 class="mb-4">Preferences</h4>
										<div class="tab-card-header d-flex justify-content-between gap-5">
											<div>
												<h4 class="card-title mb-2">
													Booking Alerts
												</h4>
												<p>Stay informed when mentees send new session requests, reschedule
													sessions, or cancel their upcoming bookings.</p>
											</div>
											<div class="form-check form-switch">
												<input class="form-check-input pricingSwitch" type="checkbox" role="switch" checked="">
											</div>
										</div>

										<div class="tab-card-header d-flex justify-content-between gap-5">
											<div>
												<h4 class="card-title mb-2">
													Feedback & Review Alerts
												</h4>
												<p>Receive instant notifications when mentees leave feedback or submit
													reviews.</p>
											</div>
											<div class="form-check form-switch">
												<input class="form-check-input pricingSwitch" type="checkbox" role="switch" checked="">
											</div>
										</div>

										<div class="tab-card-header d-flex justify-content-between gap-5">
											<div>
												<h4 class="card-title mb-2">
													Payment & Earnings Notifications
												</h4>
												<p>Get alerts for session payments, payout updates, earnings summaries,
													and any issues related to your mentor payouts.</p>
											</div>
											<div class="form-check form-switch">
												<input class="form-check-input pricingSwitch" type="checkbox" role="switch" checked="">
											</div>
										</div>

										<div class="tab-card-header d-flex justify-content-between gap-5">
											<div>
												<h4 class="card-title mb-2">
													Profile & Availability Updates
												</h4>
												<p>Be notified when your mentor profile, availability schedule, or
													expertise fields need updates or are reviewed by the platform.</p>
											</div>
											<div class="form-check form-switch">
												<input class="form-check-input pricingSwitch" type="checkbox" role="switch" checked="">
											</div>
										</div>

										<div class="tab-card-header d-flex justify-content-between gap-5 m-0 p-0 border-0">
											<div>
												<h4 class="card-title mb-2">
													Platform Announcements
												</h4>
												<p>Get important alerts about new features, policy updates,
													improvements, and platform maintenance schedules.</p>
											</div>
											<div class="form-check form-switch">
												<input class="form-check-input pricingSwitch" type="checkbox" role="switch" checked="">
											</div>
										</div>

									</div>
								</div>
								<!-- /Wednesday Slot -->

								<!-- Thursday Slot -->
								<div id="slot_thursday" class="tab-pane fade">
									<div class="settings-card">
										<div class="tab-card-header d-flex justify-content-between align-items-center gap-5 m-0 p-0 border-0">
											<div>
												<h4 class="mb-2">Delete Account</h4>
												<p>Refers to the action of permanently removing a user's account and
													associated data from a system, service and platform.</p>
											</div>
											<a data-bs-toggle="modal" href="#delete" class="danger-btn btn-medium flex-shrink-0">
												Delete Account </a>
										</div>
									</div>
								</div>
								<!-- /Thursday Slot -->


							</div>
							<!-- /Schedule Content -->
						</div>
					</div>

				</div>
			</div>

		</div>
		<!-- /Page Wrapper -->

		<!-- Footer -->
				<footer class="footer-two">
					
					<div class="container">

						<!-- Footer Top -->
						<div class="footer-top">
							<div class="row g-4">
								<div class="col-lg-8 col-md-6">
								
									<!-- Footer Widget -->
									<div class="footer-widget">
										<div class="footer-about">
											<div class="footer-logo">
												<a href="index-2.html.htm">
													<img src="assets/img/logo-white-02.svg" alt="logo" class="img-fluid">
												</a>
											</div>
											<p>We connect learners with experienced mentors who offer personalised guidance, real world insights to help you achieve your goals faster.</p>
											<div class="social-icon">
												<a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
												<a href="#" class="icon"><i class="fa-brands fa-x-twitter"></i></a>
												<a href="#" class="icon"><i class="fa-brands fa-instagram"></i></a>
												<a href="#" class="icon"><i class="fa-brands fa-youtube"></i></a>
											</div>
										</div>
									</div>
									<!-- /Footer Widget -->
									
								</div>
								
								<div class="col-lg-2 col-md-3 col-sm-6">
								
									<!-- Footer Widget -->
									<div class="footer-widget footer-menu">
										<h3 class="footer-title">Quick Links</h3>
										<ul>
											<li><a href="about-us.html.htm">About Us</a></li>
                                            <li><a href="checkout.html.htm">Checkout</a></li>
                                            <li><a href="mentors-grid.html.htm">Mentors</a></li>
                                            <li><a href="mentees.html.htm">Mentee</a></li>
                                            <li><a href="contact.html.htm">Contact us</a></li>
										</ul>
									</div>
									<!-- /Footer Widget -->
									
								</div>

								<div class="col-lg-2 col-md-3 col-sm-6">
									<div class="footer-widget footer-menu">
										<h3 class="footer-title">Support</h3>
										<ul>
									<li><a href="#">Help center</a></li>
									<li><a href="faq.html.htm">FAQs</a></li>
									<li><a href="{% url 'core:terms' %}">Terms & Conditions</a></li>
									<li><a href="{% url 'core:privacy' %}">Privacy Policy</a></li>
									<li><a href="#">Refund Policy</a></li>
										</ul>
									</div>
								</div>

							</div>
						</div>
						<!-- End Footer Top -->

						<div class="footer-middle">
							<div class="row g-4">
								<div class="col-lg-6">
									<div class="subscribe-content">
										<h4>Subscribe to get latest updates</h4>
										<p>Be the first to know about new features & announcements</p>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="footer-subscribe">
										<input type="email" class="form-control form-control-lg" placeholder="Enter your email">
										<button class="secondary-btn d-flex align-items-center gap-2 rounded text-dark">Subscribe</button>
									</div>
								</div>
							</div>
						</div>
					
					</div>

					<div class="footer-slide horizontal-slide d-flex" data-direction="right" data-speed="slow">
						<div class="slide-list d-flex">
							<div class="services-slide">
								<h5>LEVEL UP YOUR SKILLS</h5>
							</div>
							<div class="services-slide">
								<h5>START LEARNING TODAY</h5>
							</div>
						</div>
					</div>
					
					<!-- Footer Bottom -->
					<div class="footer-bottom">
						<div class="container">
						
							<div class="copyright">
								<p>&copy; 2026 Mentoring. All rights reserved.</p>
							</div>
							
						</div>
					</div>
					<!-- End Footer Bottom -->

					<div id="scroll-progress" class="scroll-progress">
						<span id="progress-value">0%</span>
					</div>
					
				</footer>
				<!-- End Footer -->

	</div>
	<!-- /Main Wrapper -->

	<!-- Blog Modal -->
	<div class="modal fade custom-modal schedule-modal" id="delete">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header d-flex justify-content-between align-items-center">
					<h4 class="custom-title mb-0">Delete Account</h4>
					<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
						<i class="icon-circle-x"></i>
					</button>
				</div>
				<div class="modal-body">
					<h6>Why Are You Deleting Your Account?</h6>
					<p>We're sorry to see you go! To help us improve, please let us know your reason for deleting your
						account</p>
					<form>
						<div class="form-group mb-3">
							<label for="city" class="form-label">Reason</label>
							<select class="select" id="city" name="city">
								<option disabled="" selected="">Select</option>
								<option>Reason 1</option>
								<option>Reason 2</option>
								<option>Reason 3</option>
								<option>Reason 4</option> 
							</select>
						</div> 

						<div class="submit-section d-flex gap-2 justify-content-end">
							<button type="submit" class="light-btn btn-medium">Cancel</button>
							<button type="submit" class="primary-btn btn-medium">Add Slot</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- /Blog Slot Modal -->


	<!-- jQuery -->
	<script src="assets/js/jquery-3.7.1.min.js"></script>

	<!-- Bootstrap Core JS -->
	<script src="assets/js/bootstrap.bundle.min.js"></script>

	<!-- Select2 JS -->
	<script src="assets/plugins/select2/js/select2.min.js"></script>

	<!-- Simplebar JS -->
	<script src="assets/plugins/simplebar/simplebar.min.js"></script>

	<!-- Datetimepicker JS -->
	<script src="assets/js/moment.min.js"></script>
	<script src="assets/js/bootstrap-datetimepicker.min.js"></script>

	<!-- Datatable JS -->
	<script src="assets/js/jquery.dataTables.min.js"></script>
	<script src="assets/js/dataTables.bootstrap5.min.js"></script>

	<!-- Custom JS -->
	<script src="assets/js/script.js"></script>

</body>

</html>