<!DOCTYPE html>
<html lang="en">

<head>

	<!-- Meta Tags -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Blog Details | Mentoring </title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Mentoring is a Bootstrap-based template for hair salons, beauty spas, and wellness centers. Includes an admin dashboard for managing appointments, staff, services, and clients.">
	<meta name="keywords" content="salon template, hair salon, beauty spa, wellness center, appointment booking, salon admin dashboard, Bootstrap template, Mentoring">
	<meta name="author" content="Dreams Technologies">

	<!-- Favicon -->
	<link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">

	<!-- Theme Settings Js -->
	<script src="assets/js/theme-script.js"></script>

	<!-- Fontawesome CSS -->
	<link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome.min.css">
	<link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css">

	<!-- Lucide Icon CSS -->
	<link rel="stylesheet" href="assets/plugins/lucide/lucide.css">

	<!-- Simplebar CSS -->
	<link rel="stylesheet" href="assets/plugins/simplebar/simplebar.min.css">

	<!-- Main CSS -->
	<link rel="stylesheet" href="assets/css/style.css">

</head>

<body>

	<!-- Main Wrapper -->
	<div class="main-wrapper">

		<!-- Header Start -->
		<header class="header commen-header">
			<div class="container">
				<nav class="navbar navbar-expand-lg header-nav" aria-label="header navigation">
					<div class="navbar-header">
						<a href="index.html.htm" class="navbar-brand logo">
							<img src="assets/img/logo.svg" class="img-fluid" alt="Logo">
						</a>
						<a href="index.html.htm" class="navbar-brand logo-white">
							<img src="assets/img/logo-white.svg" class="img-fluid" alt="Logo-white">
						</a>
						<div id="mobile_btn">
							<i class="icon-menu"></i>
						</div>
					</div>
					<div class="menu-wrapper">
						<div class="main-menu-wrapper">
							<div class="menu-header">
								<a href="index.html.htm" class="menu-logo">
									<img src="assets/img/logo.svg" class="img-fluid logo" alt="Logo">
									<img src="assets/img/logo-white.svg" class="img-fluid logo-white" alt="Logo-white">
								</a>
								<div class="d-flex align-items-center gap-2">
									<button class="topbar-link light-dark-mode" aria-label="Toggle light and dark mode">
										<i class="icon-sun"></i>
									</button>
									<div id="menu_close" class="menu-close">
										<i class="icon-x"></i>
									</div>
								</div>				
								
							</div>
							<ul class="main-nav">
								<li class="has-submenu megamenu">
									<a href="#">Home <span class="down-arrow"><i class="icon-chevron-down"></i></span> </a>
									<ul class="submenu mega-submenu">
										<li>
											<div class="megamenu-wrapper home-menu-wrapper">
												<div class="row">
													<div class="col-lg-3">
														<div class="single-demo">
															<div class="demo-img">
																<a href="index.html.htm" class="inner-demo-img"><img src="assets/img/menu/home-img-1.png" class="img-fluid" alt="home-1"></a>
															</div>
															<div class="demo-info">
																<a href="index.html.htm" class="inner-demo-img">Homepage 1</a>
															</div>
														</div>
													</div>
													<div class="col-lg-3">
														<div class="single-demo">
															<div class="demo-img">
																<a href="index-2.html.htm" class="inner-demo-img"><img src="assets/img/menu/home-img-2.png" class="img-fluid" alt="home-2"></a>
															</div>
															<div class="demo-info">
																<a href="index-2.html.htm" class="inner-demo-img">Homepage 2</a>
															</div>
														</div>
													</div>
													<div class="col-lg-3">
														<div class="single-demo">
															<div class="demo-img">
																<a href="index-3.html.htm" class="inner-demo-img"><img src="assets/img/menu/home-img-3.png" class="img-fluid" alt="home-3"></a>
															</div>
															<div class="demo-info">
																<a href="index-3.html.htm" class="inner-demo-img">Homepage 3</a>
															</div>
														</div>
													</div>
													<div class="col-lg-3">
														<div class="single-demo">
															<div class="demo-img">
																<a href="index-4.html.htm" class="inner-demo-img"><img src="assets/img/menu/home-img-4.png" class="img-fluid" alt="home-4"></a>
															</div>
															<div class="demo-info">
																<a href="index-4.html.htm" class="inner-demo-img">Homepage 4</a>
															</div>
														</div>
													</div>
												</div>
												<img src="assets/img/menu/shadow-1.png" alt="shadow" class="img-fluid shadow-light">
											</div>
										</li>
									</ul>
								</li>
								<li class="has-submenu mega-innermenu">
									<a href="#">Mentor <span class="down-arrow"><i class="icon-chevron-down"></i></span></a>
									<ul class="submenu mega-submenu">
										<li>
											<div class="megamenu-wrapper">
												<div class="row">
													<div class="col-lg-5">
														<ul>
															<li><a href="dashboard.html.htm">Mentor Dashboard</a></li>
															<li><a href="bookings.html.htm">Bookings</a></li>
															<li><a href="scheduled-timings.html.htm">Schedule Timing</a></li>
															<li><a href="mentees.html.htm">Mentee List</a></li>
															<li><a href="blogs.html.htm">Blog</a></li>
															<li><a href="messages.html.htm">Chat</a></li>
															<li><a href="invoices.html.htm">Invoices</a></li>
															<li><a href="settings.html.htm">Profile Settings </a></li>
															<li><a href="reviews.html.htm">Reviews</a></li>
															<li><a href="mentor-register.html.htm">Register</a></li>
														</ul>
													</div>
													<div class="col-lg-7">
														<div class="menu-img">
															<img src="assets/img/menu/header-img-1.png" alt="listing" class="img-fluid header-menu-img">
														</div>
													</div>
												</div>
												<img src="assets/img/menu/shadow-1.png" alt="shadow" class="img-fluid shadow-light">
												<img src="assets/img/menu/shadow-2.png" alt="shadow" class="img-fluid shadow-light-1">
											</div>
										</li>
									</ul>
								</li>
								<li class="has-submenu mega-innermenu">
									<a href="#">Mentee <span class="down-arrow"><i class="icon-chevron-down"></i></span></a>
									<ul class="submenu mega-submenu">
										<li>
											<div class="megamenu-wrapper">
												<div class="row">
													<div class="col-lg-5">
														<ul>
															<li><a href="mentee-dashboard.html.htm">Mentee Dashboard</a></li>
															<li><a href="mentors-grid-map-view.html.htm">Mentors Map View</a></li>
															<li><a href="mentors-grid.html.htm">Search Mentors</a></li>
															<li><a href="mentee-bookings.html.htm">Bookings</a></li>
															<li><a href="booking-success.html.htm">Booking Success</a></li>
															<li><a href="checkout.html.htm">Checkout</a></li>
															<li><a href="mentee-favourites.html.htm">Favourites</a></li>
															<li><a href="mentee-messages.html.htm">Chat</a></li>
															<li><a href="mentee-settings.html.htm">Profile Settings</a></li>
															<li><a href="mentee-register.html.htm">Register</a></li>
														</ul>
													</div>
													<div class="col-lg-7">
														<div class="menu-img">
															<img src="assets/img/menu/header-img-2.png" alt="listing" class="img-fluid header-menu-img">
														</div>
													</div>
												</div>
												<img src="assets/img/menu/shadow-1.png" alt="shadow" class="img-fluid shadow-light">
												<img src="assets/img/menu/shadow-2.png" alt="shadow" class="img-fluid shadow-light-1">
											</div>
										</li>
									</ul>
								</li>
								<li class="has-submenu mega-innermenu">
									<a href="#">Pages <span class="down-arrow"><i class="icon-chevron-down"></i></span></a>
									<ul class="submenu mega-submenu pages-submenu">
										<li>
											<div class="megamenu-wrapper">
												<ul>
													<li> <a href="about-us.html.htm">About Us</a></li>
													<li> <a href="audio-call.html.htm">Voice Call</a></li>
													<li> <a href="video-call.html.htm">Video Call</a></li>
													<li> <a href="faq.html.htm">Faq</a></li>
													<li> <a href="contact.html.htm">Contact Us</a></li>
													<li> <a href="login.html.htm">Login</a></li>
													<li> <a href="register.html.htm">Register</a></li>
													<li> <a href="forgot-password.html.htm">Forgot Password</a></li>
													<li> <a href="reset-password.html.htm">Reset Password</a></li>
												</ul>
												<img src="assets/img/menu/shadow-1.png" alt="shadow" class="img-fluid shadow-light">
												<img src="assets/img/menu/shadow-2.png" alt="shadow" class="img-fluid shadow-light-1">
											</div>
										</li>
									</ul>
								</li>
								<li class="has-submenu mega-innermenu active">
									<a href="#">Blogs <span class="down-arrow"><i class="icon-chevron-down"></i></span></a>
									<ul class="submenu mega-submenu pages-submenu blogs-submenu">
										<li>
											<div class="megamenu-wrapper">
												<ul>
													<li> <a href="blog-grid.html.htm">Blog Grid</a></li>
													<li> <a href="blog-grid-left-sidebar.html.htm">Blog Grid with Left Sidebar</a></li>
													<li> <a href="blog-grid-right-sidebar.html.htm">Blog Grid with Right Sidebar</a></li>
													<li> <a href="blog-list.html.htm">Blog List</a></li>
													<li> <a href="blog-list-left-sidebar.html.htm">Blog List with Left Sidebar</a></li>
													<li> <a href="blog-list-right-sidebar.html.htm">Blog List with Right Sidebar</a></li>
													<li class="active"> <a href="blog-details.html.htm">Blog Detail</a></li>
													<li> <a href="blog-details-left-sidebar.html.htm">Blog Detail with Left Sidebar</a></li>
													<li> <a href="blog-details-right-sidebar.html.htm">Blog Detail with Right Sidebar</a></li>
												</ul>
												<img src="assets/img/menu/shadow-1.png" alt="shadow" class="img-fluid shadow-light">
												<img src="assets/img/menu/shadow-2.png" alt="shadow" class="img-fluid shadow-light-1">
											</div>
										</li>
									</ul>
								</li>
								<li class="has-submenu mega-innermenu">
									<a href="admin/index.html.htm">Admin</a>
								</li>
							</ul>
							<div class="menu-bottom">
								<div class="folllow-us">
									<p class="title">Follow Us</p>
									<div class="social-icon">
										<a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
										<a href="#" class="icon"><i class="fa-brands fa-x-twitter"></i></a>
										<a href="#" class="icon"><i class="fa-brands fa-instagram"></i></a>
										<a href="#" class="icon"><i class="fa-brands fa-youtube"></i></a>
									</div>
								</div>
								<div class="menu-login">
									<a href="register.html.htm" class="primary-btn w-100 d-flex align-items-center gap-2"><i class="icon-lock me-1"></i>Sign Up</a>
									<a href="login.html.htm" class="secondary-btn w-100 d-flex align-items-center gap-2 text-dark"><i class="icon-log-in me-1"></i>Sign in</a>
								</div>
							</div>
						</div>
					</div>
					<div class="nav header-items">
						<button class="topbar-link light-dark-mode" aria-label="Toggle light and dark mode">
							<i class="icon-sun"></i>
						</button>

						<button class="topbar-link online" data-bs-toggle="dropdown" data-bs-offset="0,24" type="button" aria-haspopup="false" aria-expanded="false">
							<i class="icon-bell"></i>
						</button>
						
						<div class="dropdown-menu p-0 dropdown-menu-end dropdown-menu-lg notification-dropdown">
						
							<div class="p-2 border-bottom">
								<div class="row align-items-center">
									<div class="col">
										<h6 class="m-0 fs-16 fw-semibold"> Notifications</h6>
									</div>
								</div>
							</div>
							<!-- Notification Body -->
							<div class="notification-body position-relative z-2 rounded-0" data-simplebar="">
								<!-- Item-->
								<div class="dropdown-item notification-item py-3 text-wrap border-bottom" id="notification-1">
									<div class="d-flex">
										<div class="me-2 position-relative flex-shrink-0">
											<img src="assets/img/avatars/avatar-10.jpg" class="avatar-md rounded-circle" alt="user">
										</div>
										<div class="flex-grow-1">
											<p class="mb-0 fw-medium text-dark">John Doe</p>
											<p class="mb-1 text-wrap">
												scheduled a new <span class="fw-medium text-dark">mentoring session.</span> 
											</p>
											<div class="d-flex justify-content-between align-items-center">
												<span class="fs-12"><i class="ti ti-clock me-1"></i>4 min ago</span>
												<div class="notification-action d-flex align-items-center float-end gap-2">
													<a href="javascript:void(0);" class="notification-read rounded-circle bg-danger" data-bs-toggle="tooltip" title="" data-bs-original-title="Make as Read" aria-label="Make as Read"></a>
													<button class="btn rounded-circle p-0" data-dismissible="#notification-1">
														<i class="ti ti-x"></i>
													</button>
												</div>
											</div>
										</div>
									</div>
								</div>
						
								<!-- Item-->
								<div class="dropdown-item notification-item py-3 text-wrap border-bottom" id="notification-2">
									<div class="d-flex">
										<div class="me-2 position-relative flex-shrink-0">
											<img src="assets/img/avatars/avatar-11.jpg" class="avatar-md rounded-circle" alt="user">
										</div>
										<div class="flex-grow-1">
											<p class="mb-0 fw-medium text-dark">Thomas William</p>
											<p class="mb-1 text-wrap">
												booked a new mentoring session.
											</p>
											<div class="d-flex justify-content-between align-items-center">
												<span class="fs-12"><i class="ti ti-clock me-1"></i>8 min ago</span>
												<div class="notification-action d-flex align-items-center float-end gap-2">
													<a href="javascript:void(0);" class="notification-read rounded-circle bg-danger" data-bs-toggle="tooltip" title="" data-bs-original-title="Make as Read" aria-label="Make as Read"></a>
													<button class="btn rounded-circle p-0" data-dismissible="#notification-2">
														<i class="ti ti-x"></i>
													</button>
												</div>
											</div>
										</div>
									</div>
								</div>
								
								<!-- Item-->
								<div class="dropdown-item notification-item py-3 text-wrap border-bottom" id="notification-3">
									<div class="d-flex">
										<div class="me-2 position-relative flex-shrink-0">
											<img src="assets/img/avatars/avatar-12.jpg" class="avatar-md rounded-circle" alt="user">
										</div>
										<div class="flex-grow-1">
											<p class="mb-0 fw-medium text-dark">Sarah Anderson</p>
											<p class="mb-1 text-wrap">
												has been successfully booked session on <span class="fw-medium text-dark">April 5 at 10:00 AM.</span>
											</p>
											<div class="d-flex justify-content-between align-items-center">
												<span class="fs-12"><i class="ti ti-clock me-1"></i>15 min ago</span>
												<div class="notification-action d-flex align-items-center float-end gap-2">
													<a href="javascript:void(0);" class="notification-read rounded-circle bg-danger" data-bs-toggle="tooltip" title="" data-bs-original-title="Make as Read" aria-label="Make as Read"></a>
													<button class="btn rounded-circle p-0" data-dismissible="#notification-3">
														<i class="ti ti-x"></i>
													</button>
												</div>
											</div>
										</div>
									</div>
								</div>
								
								<!-- Item-->
								<div class="dropdown-item notification-item py-3 text-wrap" id="notification-4">
									<div class="d-flex">
										<div class="me-2 position-relative flex-shrink-0">
											<img src="assets/img/avatars/avatar-08.jpg" class="avatar-md rounded-circle" alt="user">
										</div>
										<div class="flex-grow-1">
											<p class="mb-0 fw-medium text-dark">Ann McClure</p>
											<p class="mb-1 text-wrap">
												cancelled her mentoring session scheduled for  <span class="fw-medium text-dark">April 6 at 2:30 PM.</span>
											</p>
											<div class="d-flex justify-content-between align-items-center">
												<span class="fs-12"><i class="ti ti-clock me-1"></i>20 min ago</span>
												<div class="notification-action d-flex align-items-center float-end gap-2">
													<a href="javascript:void(0);" class="notification-read rounded-circle bg-danger" data-bs-toggle="tooltip" title="" data-bs-original-title="Make as Read" aria-label="Make as Read"></a>
													<button class="btn rounded-circle p-0" data-dismissible="#notification-4">
														<i class="ti ti-x"></i>
													</button>
												</div>
											</div>
										</div>
									</div>
								</div>
									
							</div>
							<!-- View All-->
							<div class="p-2 rounded-bottom border-top text-center">
								<a href="notifications.html.htm" class="text-center text-decoration-underline fs-14 mb-0">
									View All Notifications
								</a>
							</div>
						</div>

						<div class="dropdown profile-dropdown d-flex align-items-center justify-content-center">
							<a class="dropdown-toggle drop-arrow-none" href="#" data-bs-toggle="dropdown" data-bs-offset="0,22" aria-haspopup="false" aria-expanded="false">
								<img src="assets/img/avatars/avatar-05.jpg" alt="avatar" class="img-fluid rounded-circle">
							</a>
							<div class="dropdown-menu dropdown-menu-end dropdown-menu-lg shadow-none p-3 ">
								<div class="d-flex align-items-center justify-content-between bg-light rounded mb-3 p-3">
									<div class="d-flex align-items-center">
										<img src="assets/img/avatars/avatar-05.jpg" class="rounded-circle" width="42" height="42" alt="">
										<div class="ms-2">
											<h5 class="mb-1 fs-14">Shaun Farley</h5>
											<span class="d-block fs-13">Manager</span>
										</div>
									</div>
									<span class="badge badg-sm bg-danger d-flex align-items-center gap-2"> <i class="icon-bolt"></i>  Pro</span>
								</div>
	
								<!-- Item-->
								<a href="dashboard.html.htm" class="dropdown-item">
									<i class="ti ti-user me-1 fs-17 align-middle"></i>
									<span class="align-middle">Dashboard</span>
								</a>
	
								<!-- Item-->
								<a href="settings.html.htm" class="dropdown-item">
									<i class="ti ti-settings-2 me-1 fs-17 align-middle"></i>
									<span class="align-middle">Settings</span>
								</a>
								<div class="mt-2 pt-2 border-top">
									<a href="login.html.htm" class="dropdown-item">
										<i class="ti ti-logout me-1 fs-17 align-middle text-danger"></i>
										<span class="align-middle text-danger">Sign Out</span>
									</a>
								</div>
								
							</div>
						</div>

					</div>
				</nav>
			</div>
		</header>
		<!-- Header End -->


		<!-- Breadcrumb -->
		<div class="breadcrumb-bar">
			<div class="container">
				<h1 class="breadcrumb-title">Blog Details</h1>
				<nav aria-label="breadcrumb" class="page-breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-items"><a href="index.html.htm" class="icon"><i class="icon-house"></i></a>
						</li>
						<li class="breadcrumb-items active" aria-current="page">Blog Details</li>
					</ol>
				</nav>
			</div>
			<img src="assets/img/bg/breadcrumb-wave.png" alt="wave" class="img-fluid img-1">
		</div>
		<!-- /Breadcrumb -->

		<!-- Start Content -->
		<div class="content">
			<div class="container">

				<div class="row justify-content-center">
					<div class="col-lg-10">
						<!-- Item 1 -->
						<div class="blog-details">
							<h2>Unlocking Your Career Potential Through Mentorship</h2>
							<div class="blog-category">
								<div class="author-info">
									<div class="profile">
										<img src="assets/img/user/user-28.jpg" alt="user-06" class="avatar avatar-md rounded-circle me-2">
										Antonio Refflis
									</div>
									<p class="date">
										<i class="icon-calendar-fold"></i>
										08 Jul 2026
									</p>
								</div>
							</div>
							<div class="blog-details-img text-center mb-4">
								<img src="assets/img/blog/blog-details-1.png" alt="blog" class="img-fluid rounded w-100">
							</div>
							<div class="review-icon">
								<div class="right-icons d-flex align-items-center gap-2">
									<a href="#"><i class="icon-thumbs-up"></i></a>
									<a href="#"><i class="icon-thumbs-down"></i></a>
									<a href="#"><i class="icon-message-circle"></i></a>
									<a href="#"><i class="icon-share-2"></i></a>
								</div>
								<div class="left-icons d-flex align-items-center gap-3">
									<a href="#"><i class="icon-share-2"></i> 14</a>
									<a href="#"><i class="icon-message-circle"></i> 10</a>
									<a href="#"><i class="icon-thumbs-up"></i> 12</a>
									<a href="#"><i class="icon-thumbs-down"></i> 03</a>
								</div>
							</div>
							<h5 class="blog-title">Introduction</h5>
							<p class="mb-3">Mentorship is one of the most powerful ways to unlock your career
								potential, offering guidance, insights, and support that go beyond textbooks or
								online courses. A mentor helps you gain clarity on your strengths and goals,
								accelerate learning by sharing real-world experiences, expand your professional
								network, and boost confidence through constructive feedback.</p>
							<p class="mb-0">Beyond skill development, mentorship helps you expand your professional
								network, build confidence in decision-making, and navigate challenges more
								effectively. Whether through one-on-one mentorship, group mentoring, peer mentoring,
								or reverse mentorship, having the right mentor can accelerate your growth, provide
								new perspectives, and open doors to opportunities you might not encounter on your
								own.</p>
							<div class="blog-images">
								<a href="assets/img/blog/blog-details-2.png" data-fancybox="gallery"><img src="assets/img/blog/blog-details-2.png" alt="blog" class="img-fluid rounded w-100"></a>
								<a href="assets/img/blog/blog-details-3.png" data-fancybox="gallery"><img src="assets/img/blog/blog-details-3.png" alt="blog" class="img-fluid rounded w-100"></a>
							</div>
							<h5 class="blog-title">Maximizing Mentorship for Career Growth</h5>
							<p class="mb-3">To make the most of mentorship, set clear expectations, be open to
								feedback, take initiative in applying guidance, and show appreciation for their time
								and support. Mentored professionals often experience faster career progression,
								enhanced confidence, stronger networks, and personal growth in both skills and
								decision-making. By choosing the right mentor and actively engaging in the
								relationship, you can transform your ambitions into meaningful achievements and
								accelerate your journey toward long-term success.
							</p>
							<p class="mb-0">Unlocking your career potential through mentorship is about more than
								just receiving advice it’s about building a meaningful relationship that accelerates
								your growth, sharpens your skills, and provides guidance at every stage of your
								professional journey. By choosing the right mentor whose experience, expertise, and
								values align with your goals, you gain a trusted partner who can help you navigate
								challenges, seize opportunities, make informed decisions.
							</p>

							<div class="blog-author">
								<div class="author-links">
									<div class="link-item">
										<h4 class="link-title">Tags :</h4>
										<a href="#" class="light-btn">Career Growth</a>
										<a href="#" class="light-btn">Career Guidance</a>
										<a href="#" class="light-btn">Personal Growth</a>
									</div>
									<div class="link-item">
										<h4 class="link-title">Share : </h4>
										<div class="social-links d-flex gap-2 align-items-center">
											<a href="#" class="btn-icon-md" aria-label="fb"><i class="icon-facebook"></i></a>
											<a href="#" class="btn-icon-md" aria-label="instagram"><i class="icon-instagram"></i></a>
											<a href="#" class="btn-icon-md" aria-label="youtube"><i class="icon-youtube"></i></a>
											<a href="#" class="btn-icon-md" aria-label="linkedin"><i class="icon-linkedin"></i></a>
										</div>
									</div>
								</div>
								<div class="author-details">
									<img src="assets/img/user/user3.jpg" alt="User" class="avatar avatar-xxl flex-shrink-0">
									<div>
										<h3 class="mb-2 fs-18 fw-semibold">About Author</h3>
										<p class="mb-0">
											I’m Jerry Rosado, a career and personal growth writer passionate about
											exploring how mentorship, skill-building, and continuous learning can shape
											professional success and personal development. I enjoy researching effective
											strategies, productivity habits, and career growth techniques, then sharing
											them in simple, practical ways that anyone can apply to their journey.
										</p>
									</div>
								</div>
								
							</div>

							<div class="blog-review">
								<h5 class="blog-title">Comments</h5>
								<!-- Item 1 -->
								<div class="review-details">
									<div class="review-content">
										<img src="assets/img/avatars/avatar-05.jpg" alt="User" class="avatar avatar-sm rounded-circle flex-shrink-0">
										<div class="review-info">
											<h6 class="review-title">
												<a href="#">Ernest Saunders</a>
												<small class="fs-8 text-light"><i class="fa-solid fa-circle"></i></small>
												<span class="text-body">10 mins ago</span>
											</h6>
											<p>This was such an insightful read! I never realized how much difference the right mentor can make in shaping a career path</p>
											<div class="d-flex align-items-center gap-3 fs-14">
												<a href="#" class="d-flex align-items-center gap-1"><i class="icon-thumbs-up text-body"></i> 30 </a>
												<a href="#" class="d-flex align-items-center gap-1"><i class="icon-thumbs-down text-body"></i> 5 </a>
												<a href="#" class="d-flex align-items-center gap-1"><i class="icon-reply text-body"></i> 2 </a>
											</div>

											<div class="review-content reply-content">
												<img src="assets/img/avatars/avatar-10.jpg" alt="User" class="avatar avatar-sm rounded-circle flex-shrink-0">
												<div class="review-info">
													<h6 class="review-title">
														<a href="#">Jerry Rosado</a>
														<small class="fs-8 text-light"><i class="fa-solid fa-circle"></i></small>
														<span class="text-body">15 mins ago</span>
													</h6>
													<p>Thank you for sharing your thoughts. It’s great to hear the article helped emphasize the value of having the right mentor.</p>
													<div class="d-flex align-items-center gap-3 fs-14">
														<a href="#" class="d-flex align-items-center gap-1"><i class="icon-thumbs-up text-body"></i> 30 </a>
														<a href="#" class="d-flex align-items-center gap-1"><i class="icon-thumbs-down text-body"></i> 5 </a>
														<a href="#" class="d-flex align-items-center gap-1"><i class="icon-reply text-body"></i> 2 </a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<!-- Item 2 -->
								<div class="review-details">
									<div class="review-content">
										<img src="assets/img/avatars/avatar-04.jpg" alt="User" class="avatar avatar-sm rounded-circle flex-shrink-0">
										<div class="review-info">
											<h6 class="review-title">
												<a href="#">Robert Howell</a>
												<small class="fs-8 text-light"><i class="fa-solid fa-circle"></i></small>
												<span class="text-body">2 days ago</span>
											</h6>
											<p>Great perspective on mentorship. The real-life examples made it easy to relate and reflect on my own journey.</p>
											<div class="d-flex align-items-center gap-3 fs-14">
												<a href="#" class="d-flex align-items-center gap-1"><i class="icon-thumbs-up text-body"></i> 30 </a>
												<a href="#" class="d-flex align-items-center gap-1"><i class="icon-thumbs-down text-body"></i> 5 </a>
												<a href="#" class="d-flex align-items-center gap-1"><i class="icon-reply text-body"></i> 2 </a>
											</div>
										</div>
									</div>
								</div>

								<!-- Item 3 -->
								<div class="review-details mb-0">
									<div class="review-content">
										<img src="assets/img/avatars/avatar-18.jpg" alt="User" class="avatar avatar-sm rounded-circle flex-shrink-0">
										<div class="review-info">
											<h6 class="review-title">
												<a href="#">Lucille Cochran</a>
												<small class="fs-8 text-light"><i class="fa-solid fa-circle"></i></small>
												<span class="text-body">3 days ago</span>
											</h6>
											<p>Well written and inspiring. Looking forward to more content like this on personal and professional growth.</p>
											<div class="d-flex align-items-center gap-3 fs-14">
												<a href="#" class="d-flex align-items-center gap-1"><i class="icon-thumbs-up text-body"></i> 30 </a>
												<a href="#" class="d-flex align-items-center gap-1"><i class="icon-thumbs-down text-body"></i> 5 </a>
												<a href="#" class="d-flex align-items-center gap-1"><i class="icon-reply text-body"></i> 2 </a>
											</div>
										</div>
									</div>
								</div>

								<div class="write-review">
									<div class="card-body">
										<span class="title border-0"> Leave a Comment</span>
										<form action="#" autocomplete="on" id="blog-details-review">
											<div class="row row-gap-3">

												<div class="col-lg-6">
													<div class="mb-0">
														<label for="first_name" class="form-label">
															Name</label>
														<input type="text" class="form-control" id="first_name" name="first_name" autocomplete="given-name">
													</div>
												</div>

												<div class="col-lg-6">
													<div class="mb-0">
														<label for="last_name" class="form-label">Email Address</label>
														<input type="text" class="form-control" id="last_name" name="last_name" autocomplete="family-name">
													</div>
												</div>

												<div class="col-lg-12">
													<div class="mb-0">
														<label for="last_name" class="form-label">Website</label>
														<input type="text" class="form-control" id="last_name" name="last_name" autocomplete="family-name">
													</div>
												</div>

												<div class="col-12">
													<div class="mb-0">
														<label for="comment" class="form-label">Comment</label>
														<textarea rows="4" class="form-control" id="comment" name="comment" autocomplete="off"></textarea>
													</div>
												</div>

												<div class="col-lg-12">
													<div class="form-check d-flex align-items-center ps-0 mb-2">
														<input class="form-check-input ms-0 mt-0" type="checkbox" id="check_31" name="remember">
														<label class="form-check-label w-100 d-flex align-items-center justify-content-between ms-2" for="check_31">
															Keep my information saved for future comments on this site.
														</label>
													</div>
												</div>

												<div class="col-12 text-lg-start text-start">
													<button type="submit" class="dark-btn btn-medium">Post
														Comment</button>
												</div>

											</div>
										</form>

									</div>
								</div>
							</div>

						</div>


					</div>
				</div>


			</div>
		</div>
		<!-- End Content -->

		<!-- Footer -->
		<footer class="footer-two">

			<div class="container">

				<!-- Footer Top -->
				<div class="footer-top">
					<div class="row">
						<div class="col-lg-8 col-md-4">

							<!-- Footer Widget -->
							<div class="footer-widget">
								<div class="footer-about">
									<div class="footer-logo">
										<a href="index-2.html.htm">
											<img src="assets/img/logo-white-02.svg" alt="logo" class="img-fluid">
										</a>
									</div>
									<p>We connect learners with experienced mentors who offer personalised guidance,
										real world insights to help you achieve your goals faster.</p>
									<div class="social-icon">
										<a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
										<a href="#" class="icon"><i class="fa-brands fa-x-twitter"></i></a>
										<a href="#" class="icon"><i class="fa-brands fa-instagram"></i></a>
										<a href="#" class="icon"><i class="fa-brands fa-youtube"></i></a>
									</div>
								</div>
							</div>
							<!-- /Footer Widget -->

						</div>

						<div class="col-lg-2 col-md-4">

							<!-- Footer Widget -->
							<div class="footer-widget footer-menu">
								<h3 class="footer-title">Quick Links</h3>
								<ul>
									<li><a href="about-us.html.htm">About Us</a></li>
									<li><a href="checkout.html.htm">Checkout</a></li>
									<li><a href="mentors-grid.html.htm">Mentors</a></li>
									<li><a href="mentees.html.htm">Mentee</a></li>
									<li><a href="contact.html.htm">Contact us</a></li>
								</ul>
							</div>
							<!-- /Footer Widget -->

						</div>

						<div class="col-lg-2 col-md-4">
							<div class="footer-widget footer-menu">
								<h3 class="footer-title">Support</h3>
								<ul>
									<li><a href="#">Help center</a></li>
									<li><a href="faq.html.htm">FAQs</a></li>
									<li><a href="terms-conditions.html.htm">Terms & Conditions</a></li>
									<li><a href="privacy-policy.html.htm">Privacy Policy</a></li>
									<li><a href="#">Refund Policy</a></li>
								</ul>
							</div>
						</div>

					</div>
				</div>
				<!-- /Footer Top -->

				<div class="footer-middle">
					<div class="row">
						<div class="col-lg-6">
							<div class="subscribe-content">
								<h4>Subscribe to get latest updates</h4>
								<p>Be the first to know about new features & announcements</p>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="footer-subscribe">
								<input type="email" class="form-control form-control-lg" placeholder="Enter your email">
								<button class="secondary-btn d-flex align-items-center gap-2 rounded text-dark">Subscribe</button>
							</div>
						</div>
					</div>
				</div>


			</div>

			<div class="footer-slide horizontal-slide d-flex" data-direction="right" data-speed="slow">
				<div class="slide-list d-flex">
					<div class="services-slide">
						<h5>LEVEL UP YOUR SKILLS</h5>
					</div>
					<div class="services-slide">
						<h5>START LEARNING TODAY</h5>
					</div>
				</div>
			</div>

			<!-- Footer Bottom -->
			<div class="footer-bottom">
				<div class="container">

					<!-- Copyright -->
					<div class="copyright">
						<p>&copy; 2026 Mentoring. All rights reserved.</p>
					</div>
					<!-- /Copyright -->

				</div>
			</div>
		</footer>

	</div>
	<!-- /Main Wrapper -->

	<!-- jQuery -->
	<script src="assets/js/jquery-3.7.1.min.js"></script>

	<!-- Bootstrap Core JS -->
	<script src="assets/js/bootstrap.bundle.min.js"></script>

	<!-- Simplebar JS -->
    <script src="assets/plugins/simplebar/simplebar.min.js"></script>

	<!-- Feather Icon JS -->
	<script src="assets/js/feather.min.js"></script>

	<!-- Owl Carousel -->
	<script src="assets/js/owl.carousel.min.js"></script>

	<!-- Aos -->
	<script src="assets/plugins/aos/aos.js"></script>

	<!-- Custom JS -->
	<script src="assets/js/script.js"></script>

</body>

</html>