{% extends 'core_base.html' %}
{% load static %}
{% block title %} zero to hero {% endblock %}

{% block meta_tags %}
{% endblock %}

{% block navbar %}{% endblock navbar %}
{% block footer %}{% endblock footer %}

{% block content %}

<!-- Start Content -->
<div class="container-fluid p-md-0">
	<div class="auth-wrapper">

		<!-- start row -->
		<div class="row">

			<!-- start col -->
			<div class="col-lg-7">
				<div class="auth-wrapper-left">
					<div class="content-box mx-auto">
						<h1>“Growth starts when guidance meets passion.”</h1>
						<div class="auth-avatar">
							<div class="avatar-list-stacked avatar-group-lg">
								<span class="avatar border-0">
									<img src="{% static 'frontend/assets/img/auth/avatar/avatar-1.png' %}" alt="img">
								</span>
								<span class="avatar border-0">
									<img src="{% static 'frontend/assets/img/auth/avatar/avatar-2.png' %}" alt="img">
								</span>

								<span class="avatar border-0">
									<img src="{% static 'frontend/assets/img/auth/avatar/avatar-4.png' %}" alt="img">
								</span>
								<span class="avatar border-0">
									<img src="{% static 'frontend/assets/img/auth/avatar/avatar-3.png' %}" alt="img">
								</span>
								<span class="avatar border-0">
									<img src="{% static 'frontend/assets/img/auth/avatar/avatar-5.png' %}" alt="img">
								</span>
							</div>

						</div>
					</div>

					<div class="auth-shape-1">
						<img src="{% static 'frontend/assets/img/auth/shape-1.png' %}" alt="">
					</div>
					<div class="auth-shape-2">
						<img src="{% static 'frontend/assets/img/auth/shape-2.png' %}" alt="">
					</div>
					<div class="auth-shape-3">
						<img src="{% static 'frontend/assets/img/auth/Vector.png' %}" alt="">
						<img src="{% static 'frontend/assets/img/auth/Vector-1.png' %}" alt="">
						<img src="{% static 'frontend/assets/img/auth/Vector-2.png' %}" alt="">
					</div>
				</div>
			</div>
			<!-- end col -->

			<!-- start col -->
			<div class="col-lg-5">
				<div class="auth-wrapper-right">
					<div class="auth-logo">
						<img src="{% static 'frontend/assets/img/zerotohero_logo3.webp' %}" alt="">
					</div>
					{% if messages %}
					<div class="mb-4">
						{% for message in messages %}
						<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
							{{ message }}
							<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
						</div>
						{% endfor %}
					</div>
					{% endif %}
					<form action="{% url 'accounts:login' %}" method="POST" class="auth-form">
						{% csrf_token %}
						<div class="form-header">
							<h2>Sign In</h2>
							<p>Quick and secure access with simple sign in.</p>
						</div>
						<div class="auth-form-input">
							<div class="mb-4 input-group-flat">
								<label class="form-label">
									Email or Username
									<span class="text-danger ms-1">*</span>
								</label>
								<input type="text" name="username" class="form-control" placeholder="Enter Your Email or Username" required>
							</div>
							<div class="mb-4">
								<label class="form-label">Password
									<span class="text-danger ms-1">*</span>
								</label>
								<div class="input-group input-group-flat pass-group">
									<input type="password" name="password" class="form-control pass-input" placeholder="**********" required>
									<span class="input-group-text toggle-password">
										<i class=" icon-eye-off"></i>
									</span>
								</div>
							</div>

							{% if not debug %}
							<script src="https://www.google.com/recaptcha/api.js" async defer></script>
							<div class="g-recaptcha mb-3" data-sitekey="{{ RECAPTCHA_SITE_KEY }}"></div>
							{% endif %}

							<div class="d-flex align-items-center justify-content-between flex-wrap gap-2 mb-4">
								<div class="d-flex align-items-center">
									<div class="form-check form-check-md mb-0">
										<input class="form-check-input" id="remember_me" type="checkbox">
										<label for="remember_me" class="form-check-label mt-0 text">Remember
											Me</label>
									</div>
								</div>
								<div>
									<a href="{% url 'accounts:password_reset' %}" class="text-danger">Forgot Password?</a>
								</div>
							</div>
							<div class="mb-4">
								<button type="submit" class="primary-btn w-100 justify-content-center">Sign
									In</button>
							</div>
							<div class="text-center">
								<p class="mb-0">Don't have an account? <a href="{% url 'accounts:signup' %}"
										class="link-primary">Sign Up</a></p>
							</div>
						</div>
					</form>
				</div>
			</div>
			<!-- end col -->

		</div>
		<!-- end row -->

	</div>
</div>
<!-- End Content -->
{% endblock %}