{% extends 'core_base.html' %}
{% load static %}
{% block title %} Password Reset Sent | Zero to Hero {% endblock %}

{% block meta_tags %}
{% endblock %}

{% block navbar %}{% endblock navbar %}
{% block footer %}{% endblock footer %}

{% block content %}

<!-- Start Content -->
<div class="container-fuild z-1">
	<div class="auth-wrapper">

		<!-- start row -->
		<div class="row">

			<!-- start col -->
			<div class="col-lg-7">
				<div class="auth-wrapper-left">
					<div class="content-box mx-auto">
						<h1>“Growth starts when guidance meets passion.”</h1>
						<div class="auth-avatar">
							<div class="avatar-list-stacked avatar-group-lg">
								<span class="avatar border-0">
									<img src="{% static 'frontend/assets/img/auth/avatar/avatar-1.png' %}" alt="img">
								</span>
								<span class="avatar border-0">
									<img src="{% static 'frontend/assets/img/auth/avatar/avatar-2.png' %}" alt="img">
								</span>

								<span class="avatar border-0">
									<img src="{% static 'frontend/assets/img/auth/avatar/avatar-4.png' %}" alt="img">
								</span>
								<span class="avatar border-0">
									<img src="{% static 'frontend/assets/img/auth/avatar/avatar-3.png' %}" alt="img">
								</span>
								<span class="avatar border-0">
									<img src="{% static 'frontend/assets/img/auth/avatar/avatar-5.png' %}" alt="img">
								</span>
							</div>

						</div>
					</div>


					<div class="auth-shape-1">
						<img src="{% static 'frontend/assets/img/auth/shape-1.png' %}" alt="">
					</div>
					<div class="auth-shape-2">
						<img src="{% static 'frontend/assets/img/auth/shape-2.png' %}" alt="">
					</div>
					<div class="auth-shape-3">
						<img src="{% static 'frontend/assets/img/auth/Vector.png' %}" alt="">
						<img src="{% static 'frontend/assets/img/auth/Vector-1.png' %}" alt="">
						<img src="{% static 'frontend/assets/img/auth/Vector-2.png' %}" alt="">
					</div>

				</div>
			</div>
			<!-- end col -->

			<!-- start col -->
			<div class="col-lg-5">
				<div class="auth-wrapper-right d-flex justify-content-center align-items-center ">
					<div class="auth-logo">
						<a href="{% url 'core:index' %}"><img src="{% static 'frontend/assets/img/zerotohero_logo3.webp' %}" alt=""></a>
					</div>
					<div class="auth-form text-center">
						<div class="form-header mb-4">
							<h2>Email Sent</h2>
							<p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
						</div>
						<div class="auth-form-input">
							<p>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
							<div class="mb-4">
								<a href="{% url 'accounts:login' %}" class="primary-btn w-100 justify-content-center">Return to Sign In</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end col -->

		</div>
		<!-- End row -->

	</div>
</div>
<!-- End Content -->
{% endblock %}
