{% load static %}
<div class="banner-section-three">
    <div class="container">

        <!-- start row -->
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="banner-left">
                    <div class="banner-content">
                        <div class="avatar-group wow fadeInUp">
                            <div class="avatar-list-stacked avatar-group-lg">
                                <span class="avatar avatar-rounded">
                                    <img class="border border-white"
                                        src="{% static 'frontend/assets/img/avatars/avatar-07.jpg' %}" alt="img">
                                </span>
                                <span class="avatar avatar-rounded">
                                    <img class="border border-white"
                                        src="{% static 'frontend/assets/img/avatars/avatar-08.jpg' %}" alt="img">
                                </span>
                                <span class="avatar avatar-rounded">
                                    <img class="border border-white"
                                        src="{% static 'frontend/assets/img/avatars/avatar-09.jpg' %}" alt="img">
                                </span>
                                <span class="avatar avatar-rounded">
                                    <img class="border border-white"
                                        src="{% static 'frontend/assets/img/avatars/avatar-10.jpg' %}" alt="img">
                                </span>
                            </div>
                            <p> Trusted by <span> 70+ </span> Learners</p>
                        </div>
                    </div>
                    <div class="banner-item-three">
                        <h1 class="title"> Unlock Your Potential <br> with Expert <span> <span
                                    class="text-warning">Mentorship</span> <img
                                    src="{% static 'frontend/assets/img/banner/banner-element-5.png' %}" alt="">
                            </span> </h1>
                        <p class="description">Get personalised guidance from industry experts to learn
                            faster, grow smarter, and achieve your career goals with confidence.</p>
                        <div class="banner-btn">
                            <a href="{% url 'core:application_form' %}" class="dark-btn btn-large"> <i class="icon-users fw-normal"></i> Become a Mentee
                            </a>
                            <a href="{% url 'core:about' %}" class="secondary-btn btn-large text-dark"> <i
                                    class="icon-calendar fw-normal"></i> Learn More </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="banner-img-three">
                    <img src="{% static 'frontend/assets/img/banner/banner-img-3-2.webp' %}" alt="img"
                        class="img-fluid img-1">
                    <img src="{% static 'frontend/assets/img/banner/banner-shadow-3.png' %}" alt="shadow"
                        class="img-fluid shadow-1">
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>

    <img src="{% static 'frontend/assets/img/banner/banner-element-3.png' %}" alt="element" class="img-fluid element-1">
    <img src="{% static 'frontend/assets/img/banner/banner-element-4.png' %}" alt="element" class="img-fluid element-2">
    <img src="{% static 'frontend/assets/img/banner/banner-light-3.png' %}" alt="element" class="img-fluid light-1">
    <img src="{% static 'frontend/assets/img/banner/banner-start-icon.svg' %}" alt="element"
        class="img-fluid star-icon">
    <img src="{% static 'frontend/assets/img/banner/banner-start-icon.svg' %}" alt="element"
        class="img-fluid star-icon-1">

    <div class="social-icon-item">
        <p>Follow Us</p>
        <span></span>
        <div class="social-icon">
            <a href="#" class="icon"><i class="icon-facebook"></i></a>
            <a href="#" class="icon"><i class="fa-brands fa-x-twitter"></i></a>
            <a href="#" class="icon"><i class="icon-instagram"></i></a>
            <a href="#" class="icon"><i class="icon-youtube"></i></a>
        </div>
    </div>
    <div class="animation-name">Mentoring</div>
</div>